body {
    font-size: 1.75rem;
    line-height: 1.5;
    font-family: monospace;
    background: url(./assests/images/day.png) no-repeat center;
    background-size: cover;
}

.name {
    text-shadow: -5px 8px 11px rgb(30, 69, 95);
    text-align: center;
    margin-bottom: 12vh;
    font-size: 7rem;
}