:root {
   --primaryColor: rgba(238,251,253,255); 
   --forecastColor: rgba(169,178,175,.4);
}

body {
    line-height: 1.5;
    font-size: 1.75rem;
    background: url(./images/Twilight.png) no-repeat center top 15vh;
    background-size:auto;
    background-color: rgb(1, 13, 1);
    text-align: center;
}

.title {
    color: var(--primaryColor);
    font-size: 7rem;
    text-align: center;
    margin-top: -2vh;
    margin-bottom: 12vh;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#h2 {
    width: 15%;
    margin-bottom: 1%;
    text-align: center;
    font-size: xx-large;
    border-radius: 5px;
    border-style: outset;
    border-color: black;
    background-color: var(--primaryColor);
}

#citySearch {
    width: 20%;
    text-align: center;
    margin-top: -22vh;
}

Button {
    width: 8vw;
    height: 2vh;
    background-color: var(--primaryColor);
}

#searchHistory {
    width: 7%;
    margin-top: 1%;
    margin-left: 4vw;
    font-size: x-large;
}

#todaysWeather {
    width: 35%;
    margin-top: -6%;
    margin-left: 32%;
    border-radius: 5px;
    border-style: outset;
    border-color: black;
    flex-direction: column;
    font-size: xxx-large;
    position: fixed;
    color: black;
    background-color: var(--forecastColor);
}

#forecastCards {
    display: flex;
    margin-left: 29vw;
    position: fixed;
}

.foreFive {
    width: 8vw;
    margin-top: 43vh;
    border-radius: 5px;
    border-style: outset;
    border-color: black;
    color: black;
    background-color: var(--forecastColor);
}

